[Unit]
Description=Docker LRU Tracker
After=docker.service
BindsTo=docker.service

[Service]
Type=simple
ExecStart=/root/.docker-lru/scripts/track-started-images.sh
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
